body {
	font-family:"楷体", "微软雅黑", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

/*调节导航条与页面头部的位置*/
.navbar-nav { 
	padding-top: 20px;
}

/*轮播图片的div框架与导航条的距离*/
#myCarousel { 
	margin-top: 70px;
}

/*调整热门搜索输入框的位置*/
.carousel-inner { 
	position: relative;
}

.carousel-inner img {
	width: 100%;
	margin: 0 auto;
}

.navbar-brand img {
	display: block;
    margin-left: -25px;
    margin-top: -16px;
    height: 100px;
}

/*调整热门搜索输入框的位置*/
.hotSearch { 
	position:absolute; 
	top:43%;
	left:28%;
}

.hotSearch p {
	margin-left: 50px;
	margin-top: 10px;
}

/*给热门搜索输入框下面的几个地点加上鼠标悬停时出现下划线效果*/
.underlineWord:hover{
	text-decoration: underline;
}

/*导航条首页、发现等文字的鼠标事件*/
.linkColor a:link, a:visited {
	color:#0000FF; 
	text-decoration:underline; 
} 

.linkColor a:hover, a:active { 
	color:#00344B; 
	font color: #FFF;
	text-decoration:none; 
}

/*搜索输入框样式*/
#input_text {
	width:565px; 
	height:38px; 
	margin-left:50px ;
	margin-top: 20px;
	color:#FFF;
	font color:#000000;
	border-style: none;
}

/*搜索点击提交按钮*/
.search {
	margin-left:-12px;
	border-radius: 0px;
	width: 38px;
	height: 38px;
	border-style: none;
	background-color: #00344B;
}

/*热门地点、推荐游记左边的矩形的样式*/
.rectangle {
	border-radius: 0px;
	width: 20px;
	height: 50px;
	box-shadow: none;
	border-style: none;
	background-color: #00344B;
}

/*热门地点、推荐游记的a标签样式设置*/
.word {
	margin-top: 40px;
	margin-bottom: 20px;
}

.addressLink {
	text-decoration: none ;
	color: #00344B !important;
}

.tab-h2 {
	font-size: 20px;
	text-align: center;
	letter-spacing: 1px;
	color: #0059b2;
}

.tab-p {
	font-size: 16px;
	text-align: center;
	letter-spacing: 1px;
	color: #999;
	margin: 20px 0 40px 0;
}

.tab-p2 {
	color: #CCCCCC;
}

.tab .media-heading {
	margin-top: 5px;
	margin-bottom: 10px;
}

.col {
	padding: 15px;
}

.tab .media-object {
	display: block;
	height: 150px;
	width: 150px;
}

#footer {
	background-color: #00344B;
	border-top: 1px solid #ccc;
	padding: 16px;
	text-align: center;
	letter-spacing: 1px;
	font color: #FFF;
}

#footer p,#footer span{
	font-size: 18px;
	font-family: "微软雅黑";
	color: #FFF;
}


@media (max-width: 767px) {  
	    /*在小于768像素的屏幕里,这里的样式才生效*/  
}  
@media (min-width: 768px) and (max-width: 991px) {  
    /*在768和991像素之间的屏幕里,这里的样式才生效*/  
}  
@media (min-width: 992px) and (max-width: 1199px) {  
	    /*在992和1199像素之间的屏幕里,这里的样式才生效*/  
}  
@media (min-width: 1200px) {  
	    /*在大于1200像素的屏幕里,这里的样式才生效*/  
}  

