{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="{% static 'js/jquery-3.2.0.min.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'js/detailCh.js' %}" type="text/javascript" charset="utf-8"></script>
		<link type="text/css" rel="stylesheet" href="{% static 'css/Detail.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<script type="text/javascript">
			window.onload = function(){
				var fun = addArticle;
				var article = {{ result_dict|safe }};
				fun(article);
			}
		</script>
	</head>
	
	<body>
		
		<!--基本导航条，包含标题和列表-->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container"> 
				<!--泰好玩logo-->
				<div class="navbar-header">
					<a class="navbar-brand" style="padding-top: 5px;"><img  src="{% static 'img/logo.png' %}" style="height: 100px;"></a>
				</div>	
				<!--导航条的文字-->
				<div class="collapse navbar-collapse" id="navbar_collapse">
					<ul class="nav navbar-nav navbar-right" style="min-height: 50px;">
						<li >
							<a href="../search/home"><i class="glyphicon glyphicon-home"></i> 首页</a>
						</li>
						<li class="dropdown">
							<a href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-eye-open"></i> 发现</a>
							<ul class="dropdown-menu " >
								<li class="linkColor">
									<a href="travelNote.html#navbar_collapse">推荐游记</a>
								</li>
								<li class="linkColor">
									<a href="hotSearch.html" >热门搜索</a>
								</li>
							</ul>
						</li>
						<li class="linkColor active">
							<a href="#"><i class="glyphicon glyphicon-hand-right"></i> 详情</a>
						</li>
						<li class="linkColor">
							<a href="#"><i class="glyphicon glyphicon-user"></i> 登录</a>
						</li>
					</ul>
				</div>			
			</div>
		</nav>
		
		<div id="article" >
			<!--<center>
			<p class="title" >初涉遊艇领域想选个岛？不来攀牙湾你真的亏大啦</p>
			</center>			
			<div class="commentLogo">
				<img src="img/comment.png">
				<div class="btn-group">
    				<button type="button" class="dropdown-toggle commentLogoButton" data-toggle="dropdown">
    					<span class="glyphicon glyphicon-star" style="width: 4px;"></span>
						<span class="glyphicon glyphicon-star" style="width: 4px;"></span>
						<span class="glyphicon glyphicon-star" style="width: 4px;"></span>
						<span class="glyphicon glyphicon-star" style="width: 4px;"></span>
    				</button>
    				<ul class="dropdown-menu pull-right" role="menu" style="color: #ffec4b;">
        				<li >
							<span style="color:#00344B ;">中:</span>
							<span class="glyphicon glyphicon-star" style="width: 4px;"></span>
							<span class="glyphicon glyphicon-star" style="width: 4px;"></span>
							<span class="glyphicon glyphicon-star" style="width: 4px;"></span>
							<span class="glyphicon glyphicon-star" style="width: 4px;"></span>
							<span class="glyphicon glyphicon-star" style="width: 4px;"></span></br>
						</li>
						<li>
							<span style="color:#00344B ;">英:</span>
							<span class="glyphicon glyphicon-star" style="width: 4px;"></span>
							<span class="glyphicon glyphicon-star" style="width: 4px;"></span>
							<span class="glyphicon glyphicon-star" style="width: 4px;"></span></br>
						</li>
						<li>
							<span style="color:#00344B ;">泰:</span>
							<span class="glyphicon glyphicon-star" style="width: 4px;"></span>
							<span class="glyphicon glyphicon-star" style="width: 4px;"></span>
							<span class="glyphicon glyphicon-star" style="width: 4px;"></span>
							<span class="glyphicon glyphicon-star" style="width: 4px;"></span>
						</li>
    				</ul>
				</div>
			</div>
			
			<div class="pictures">
				<div class="BigPic">
					<img src="img/panyawanMid1.png"/>
					<div class="picGroup">
						<img src="img/panyawan1.png"  />
						<img src="img/panyawan2.png"  />
						<img src="img/panyawan3.png"  />
						<img src="img/panyawan4.png"  />
					</div>
				</div>
			</div>
			<div class="word">
				<p>攀牙湾位于普吉岛东北角75公里处，属于攀牙府，被誉为全岛风景最美丽的地方，有泰国的“小桂林”之称。</p> 
	    		<p>这里遍布着数以百计的形态奇特的石灰岩小岛，小岛的名称与其形状极为吻合。还有巧夺天工的钟乳石岩穴和数不清的怪石、海洞。其中007岛（也称铁钉岛）、钟乳岛石洞 （即佛庙洞和隐士洞）更以其天然奇景而名声在外。</p>
	    		<p>海湾內遍布珍贵的胎生植物红树林，红树林与小渔村之间有河道，坐在小船上观赏着红树林和小渔村，怡然自得。</p>
				<div class="tag">
					<button>美食</button>
					<button>好玩</button>
					<button>天堂</button>
				</div>			
			</div>
		-->
		</div>
	
		<div class="comment">
			<hr style="width: 800px;border:1px solid #7f99a5; margin-left: -25px;"/>
			<div >
				<a><button id="chIframe" style="border-right: 1px solid #b0bdc3;">中</button></a>
				<a><button id="enIframe" style="border-right: 1px solid #b0bdc3;">英</button></a>
				<a><button id="thIframe" >泰</button></a>
			</div>
			
			<iframe id="commenIframe" src="{% static 'iframe/detailCommentCh.html' %}" width="750px" height=""></iframe>
				
			<!--<div class="user">
				<div class="media">
					<div class="pull-left">
						<img src="img/Yimg3.png" class="img-circle">
					</div>
					<div class="media-body">
						<p>
							@粉团子PINK 泰国最有名的冬阴功汤，是以新鲜大虾煮成的酸辣汤，口味既辣又酸且甜，
							不仅用到了大量的咖喱，还要加入柠檬叶，香茅，辣椒等滋味独特的天然香料来调味，
							所以这道这道汤酸酸辣辣香香甜甜，可以说是五味俱全。
						</p>
					</div>
				</div>						
			</div>
			<hr />
			<div class="user">
				<div class="media">
					<div class="pull-left">
						<img src="img/Timg1.png" class="img-circle">
					</div>
					<div class="media-body">
						<p>
							@Ted_i 在泰国强烈推荐东阴功汤！首选曼谷考山路海鲜味东阴功汤！
							位置在靠山路某个类似于大排档有几块遮雨棚搭起来的店，"店面"还算是蛮大的，
							去的人比较多。记得没错的话对面有家便利店和很多家酒吧！
						</p>
					</div>
				</div>						
			</div>
			<hr />
			<div class="user">
				<div class="media">
					<div class="pull-left">
						<img src="img/Yimg1.png" class="img-circle">
					</div>
					<div class="media-body">
						<p>
							@lyracao 泰国有绿咖喱，红咖喱，黄咖喱等各式不同的咖喱，
							其中绿咖喱的清辣最让人印象深刻。可以配合米饭面条一起吃。
						</p>
					</div>
				</div>						
			</div>
			<hr />
			<div class="user">
				<div class="media">
					<div class="pull-left">
						<img src="img/Zimg1.png" class="img-circle">
					</div>
					<div class="media-body">
						<p>
							@lyracao 攀牙湾的ATV+漂流怎么样？
							那个农庄safari的几合一，看上去真没意思。
							但是天天泡水，中间去去这种应该还好。
						</p>
					</div>
				</div>						
			</div>
			<hr />
			<div class="user">
				<div class="media">
					<div class="pull-left">
						<img src="img/Zimg1.png" class="img-circle">
					</div>
					<div class="media-body">
						<p>
							@lyracao 攀牙湾的ATV+漂流怎么样？
							那个农庄safari的几合一，看上去真没意思。
							但是天天泡水，中间去去这种应该还好。
						</p>
					</div>
				</div>						
			</div>
			<hr />
			<div class="user">
				<div class="media">
					<div class="pull-left">
						<img src="img/Zimg1.png" class="img-circle">
					</div>
					<div class="media-body">
						<p>
							@lyracao 攀牙湾的ATV+漂流怎么样？
							那个农庄safari的几合一，看上去真没意思。
							但是天天泡水，中间去去这种应该还好。
						</p>
					</div>
				</div>						
			</div>
			<hr />
			<div class="user">
				<div class="media">
					<div class="pull-left">
						<img src="img/Zimg1.png" class="img-circle">
					</div>
					<div class="media-body">
						<p>
							@lyracao 攀牙湾的ATV+漂流怎么样？
							那个农庄safari的几合一，看上去真没意思。
							但是天天泡水，中间去去这种应该还好。
						</p>
					</div>
				</div>						
			</div>
			<hr />
			<div class="user">
				<div class="media">
					<div class="pull-left">
						<img src="img/Zimg1.png" class="img-circle">
					</div>
					<div class="media-body">
						<p>
							@lyracao 攀牙湾的ATV+漂流怎么样？
							那个农庄safari的几合一，看上去真没意思。
							但是天天泡水，中间去去这种应该还好。
						</p>
					</div>
				</div>						
			</div>
			<hr />
			<div class="user">
				<div class="media">
					<div class="pull-left">
						<img src="img/Zimg1.png" class="img-circle">
					</div>
					<div class="media-body">
						<p>
							@lyracao 攀牙湾的ATV+漂流怎么样？
							那个农庄safari的几合一，看上去真没意思。
							但是天天泡水，中间去去这种应该还好。
						</p>
					</div>
				</div>						
			</div>-->
			
					
		</div>
		
		<div class="themore">
			<button id="lookMore">查看更多</button>
		</div>
		
		<!--有更多评论的时候被隐藏掉，再无更多评论的时候出现文字链接-->
		<div id="moreCommentLink">
			<a href="" >再无更多内容，点击跳转到原网站</a>
		</div>
		
		<!--底部-->
		<footer id="footer">
			<div class="container">
				<p class="footer-p">关于我们 | 意见建议 | 其他问题</p>
				<p>Natural Language Processing. <span class="footer-logo">泰好玩</span>. <span class="text-nowrap">Powered by Bootstrap</span></p>
			</div>
		</footer>

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

	</body>
</html>
